//colors
$purple: #0C002B;
$sidebar: #f6f2f7;
$salmon: #FF718E;
$offwhite: #FFFEFF;
$grey: #ADA8AA;
$darkgrey: #828d9d; //responsiveness
$grid-columns: 12;
$grid-max-width: 1200px;
$bp-small: "only screen and (min-width: 0px)";
$bp-medium: "only screen and (min-width: 875px)";
$bp-large: "only screen and (min-width: 1572px)"; // $bp-large: "only screen and (min-width: 1008px)";
// $bp-xl: "only screen and (min-width: 1300px)";