@import "variables";
@import "grid";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "listings";
@import "content-area";

*,
body,
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  // background: purple;
}